<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- fonat awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- foglio di stile -->
    <link rel="stylesheet" href="css/style.css">
    <!-- cdn ajax axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolfix</title>
  </head>
  <body>
    <div id="root">
      <!-- header -->
      <header>
        <!-- left -->
        <div class="header-left">
          <h1>BOOLFLIX</h1>
        </div>
        <!-- /left -->
        <!-- right -->
        <div class="header-right">
          <div id="search">
            <i @click="searchMovie" class="fas fa-search"></i>
            <input type="text" name="" value=""  v-model="searchString" placeholder="titoli, personaggi e generi">
          </div>
        </div>
        <!-- /right -->
      </header>
      <!-- /header -->
      <!-- main -->
      <main>
        <div id="movies-container">
          <!-- movie-box -->
          <div v-for="(movie, index) in allCollections"
            class="movie-cover"
            >
            <div class="layover-info">
              <ul class="list-info">
                <li><span>Titolo:</span> {{ movie.title }}</li>
                <li><span>Titolo Originale:</span> {{ movie.original_title }}</li>
                <li><span>Voto:</span>
                  <i v-for="n in voteStar[index]" class="fas fa-star"></i>
                  <i v-for="n in voteEmpty[index]" class="far fa-star"></i>
                 </li>
                 <li v-if="((movie.original_language == 'it') || (movie.original_language == 'en') || (movie.original_language == 'fr')) "><span>Lingua Originale:</span> <div
                  class="languages"
                  :class="movie.original_language"
                 ></div></li>
                <li v-if="movie.overview != ''"><span>Overview:</span> {{ movie.overview }}</li>
              </ul>
            </div>
            <img v-if="movie.poster_path != null" :src="startImgSrc + movie.poster_path" alt="">
            <div v-else-if="movie.poster_path == null" class="img-null">
              <h6>Copertina non trovata</h6>
              <h3> {{ movie.title }} </h3>
            </div>
          </div>
          <!-- /movie-box -->
        </div>
      </main>
      <!-- /main -->
    </div>
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
